# ignore package-lock.json
package-lock.json

# ignore .env
.env

# ignore .env.local
.env.local

# ignore .env.development
.env.development

# ignore node_modules
node_modules



# ignore package.json
package.json


# git ignore app2.js
app2.js

# git ignore node_modules
node_modules

# git ignore package-lock.json
package-lock.json

# git ignore package.json
package.json

# git ignore .vscode
.vscode