*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background: #ecdfdf;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

.navbar img{
    width: 150px;
}

.navbar a{
    width: 150px;
    background: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    transition: 0.5s;
}

.navbar a:hover{
    background: #ff523b;
    color: #fff;
}

.logo{
    display: flex;
    align-items: flex-start;
    margin: 0 20px;
}

.therapy{
    display: flex;
    font-size: 15px;

}

*::before, ::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: 0.5rem;
 }
 
a{
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

ul{
    list-style: none;
}
 img{
    max-width: 100%;
    vertical-align: middle;
 }
 input::placeholder{
    font: inherit;
 }
 h1, h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 h1{
    font-size: 20px;
    font-style: bold;
    line-height: 1;
 }

 h2{
    font-size: 2.5em;
 }

 h3{
    font-size: 1.2em;

 }

 h4{
    font-size: 1em;
 }

 .container{
    max-width: 1280px;
    margin: 0 auto;
    padding: auto;
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
 }

 flexitem{
    display: flex;
    align-items: center;
 }
 flexcol{
    display: flex;
    flex-direction: column;
    gap: 1em;
 }
 /* carrito.html */
 .carrito{
   display: flex;
   font-size: 15px;
   margin: 0 20px;
}
.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
   width: 20px;
}

/*----HEADER-----*/

header li{
    display:flex;
    position: relative;
    line-height: inherit;
}

ul{
 gap: 2em;
}

.inline-nav{
      display: flex;
      z-index: -1;
      justify-content: space-between;
      width: 500px;
}


/* para que no se vean los submenus */
nav li ul{
   display: none;
   position: absolute;
   min-width: 140px;
}

.title{
   color: black;
   size: 14px;
   
   padding: 1px;
   margin: 85px;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
}
.title::hoover{
color: #9c22e8;
background: #9c22e8;
height: fit-content;

}
.lista{
   padding:    5px;
   margin: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
}  

.trandings{

   padding: 3px;
   margin: 20px;
   color: #9c22e8;

}

.select{
  
   padding: 3px;
   margin: 20px;

}
/* para  el gif loading */
.cargando {
   display: none;
}
/* cards de productos */

.producto{
   box-shadow: 0 40px 8px 0 rgba(15, 15, 15, 0.648);
   max-width: 300px;
   margin: auto;
   text-align: center;
   font-family: arial;  
}
.card img{
   height: 300px;
   width: 300px;
}
.btn{
   
   max-width: 300px;
   margin: auto;
   text-align: center;
   font-family: arial;
   border: none;
   outline: 0;
   padding: 12px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
}
.precio{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1em;
   display: block;
   color:gray;
   font-size: 22px;
}

.descripcion{
   position: relative;
   top: 28px;
   left: 0;
   background: white;
   right: 0;
   bottom: 0;
   margin: 20px;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
}
.producto{
   margin: 20px;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
}
/* RESPONSIVE */

@media (min-width: 576px) {
   .container {
     max-width: 540px;
   }
 }
 
 @media (min-width: 768px) {
   .container {
     max-width: 720px;
   }
 }
 
 @media (min-width: 992px) {
   .container {
     max-width: 960px;
   }
 }
 
 @media (min-width: 1200px) {
   .container {
     max-width: 1140px;
   }
 }
 /* RESPONSIVE */
@media screen and (min-width: 992px){
   .container{
       padding: 0 2em;

   }
}
 /*FIN REESPONSIVE  */

 /* boostrap */
 @import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/utilities/api";